.CvNew__batman {
  width: 100%;
  padding: 2rem 0;
  background: url('../../images/stars.svg'), #0a0a0a;
  background-repeat: repeat;
  margin-bottom: 1rem;
  color: #ffffff;

  display:flex;
  justify-content: center;
}

.CvNew__batman-image {
  max-height: 100px;
}